[Unit]
Description=QEMU virtual machine running a windows VM

[Service]
EnvironmentFile=/home/moritz/git/vfio/scripts/config
ExecStart=sh /home/moritz/git/vfio/scripts/windows
User=root
Group=root

[Install]
WantedBy=multi-user.target
